@model List<MyPortfolyo.Dal.Entities.Portfolio>
<section id="works" class="s-works target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Projelerim</h3>
            <h1>Projelerime Göz Atın</h1>
        </div>
    </div>
    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick" style="width: calc(33.333% - 30px); margin-bottom: 30px; display: inline-block; vertical-align: top;">
                    <div class="item-folio">
                        <div class="item-folio__thumb" style="overflow: hidden; border-radius: 8px;">
                            <a href="@item.ImageUrl" title="@item.Title" data-size="1920x1080">
                                <img src="@item.ImageUrl" alt="@item.Title" style="width: 100%; height: 200px; object-fit: cover;">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>
                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.Title
                            </h3>
                            <p class="item-folio__cat">
                                @item.SubTitle
                            </p>
                        </div>
                        <a href="@item.Url" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
